/* General styling */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://th.bing.com/th/id/OIP.FlWqsRT-UmmstLT-HrSkRwHaFB?w=244&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7') no-repeat center center fixed;
    background-size: cover;
}



.calculator {
    background: url('https://th.bing.com/th?q=Dark+Gradient+Background&w=120&h=120&c=1&rs=1&qlt=90&cb=1&dpr=1.5&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=moderate&t=1&mw=247') no-repeat center center;
    background-size: cover;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    width: 320px;
}


.calculator:hover {
    transform: translateY(-10px);
}

#result {
    width: 100%;
    height: 50px;
    text-align: right;
    padding: 10px;
    font-size: 2em;
    border: none;
    margin-bottom: 20px;
    background-color: #eef3f7;
    border-radius: 10px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #ffffff;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: scale(0.98);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

button:hover {
    background-color: #f0f0f0;
}

button.special {
    background-color: #f57f7f;
    color: white;
}

button.operator {
    background-color: #6ca0dc;
    color: white;
}

button.equals {
    background-color: #4caf50;
    color: white;
}

button.span-two {
    grid-column: span 2;
}

/* Animations */
@keyframes buttonPress {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

button:focus {
    animation: buttonPress 0.2s ease-in-out;
    outline: none;
}
